.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    justify-content: center;
}
.item{
    border: 10px solid black;
    border-radius: 5px;
}
.item:hover{
    box-shadow: 5px 5px 20px 7px rgba(0,0,0,0.53);
}
.item img{
    height: 225px;
    width: 100%;
    object-fit: cover;
}
.item *{
    padding: 0px;
    margin: 0px;
}
.content{
    padding: 15px;
    margin: 0px;
}
.item a{
    display: inline-block;
    background-color: #521111;
    color: #fff;
    padding: .375rem .75rem;
    margin-top: 10px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
}
.item a:hover{
    background-color: #310a0a;
}
.item_name{
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}