/* body {
  font-size: 28px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  border: 0;
}

@media (min-width: 768px) {
  li a {
    float: left;
  }
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #ff4646;
} */

#headerbg{
  /* background-image: url("images/food_items/headerbgimage.jpg");
  background-repeat: repeat; */
  position: absolute;
  margin: auto;
  width: 100%;
  object-fit: cover;
  height: 172px;
  opacity: 0.5;
  z-index: -1;
}

/* header */

.header{
  opacity: 1;
  color: rgb(56, 6, 6);
}
.header h1{
  text-align: center;
}
.header h2{
  text-align: center;
  font-size: 1.5rem;
}
h3{
  font-size: 1.5rem;
  font-weight: 700;
}
h5{
  font-size: 1rem;
  font-weight: 500;
}

/* navbar */

.nav-div{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  /* height: 30px; */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(46, 17, 10);
  color: #fff;
}
.nav-links{
  margin-bottom: 0px;
}
.logo{
  margin-bottom: 0px;
  font-size: 32px;
}
.logo-icon{
  height: 30px;
  width: 40px;
  object-fit: cover;
}

.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
  list-style-type: none;
}
.menu li:hover{
  background-color: #420e0e;
  border-radius: 50px;
  transition: 0.3s ease;
}
.menu li{
  padding: 5px 14px;
}
.nav-links a{
  text-decoration: none;
  color: #fff;
}
.nav-links a:hover{
  text-decoration: none;
  color: #fff;
}

.dropdown{
  padding: len 0;
  display: none;
  position: absolute;
  text-decoration: none;
  list-style: none;
  border-radius: 8px;
  /* top: 55px; */
  right: 5px;
  padding-right: 10px;
  background-color: rgb(133, 44, 9);
  box-shadow: 10px 10px 30px black;
}

.dropdown li + li{
  margin-top: 10px;
}
.dropdown li{
  /* list-style: none; */
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover{
  background-color: #521111;
}
.more:hover .dropdown{
  display: block;
}
.more{
  position: relative;
  padding: 0px;
  margin: 0px;
}
input[type=checkbox]{
  display: none;
}
.hamburger{
  display: none;
  font-size: 24px;
  user-select: none;
}


/* media quary for navbar */

@media (max-width: 768px) {
  #headerbg{
    height: 155px;
  }
  .menu{
    display: none;
    position: absolute;
    padding: 16px 30px;
    text-align: left;
    background-color: rgb(46, 17, 10);
    right: 0px;
    width: 100%;
  }
  .menu li:hover{
    display: inline-block;
    background-color: #521111;
    transition: 0.3s ease;
  }
  .menu li+li{
    margin-top: 10px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger{
    position: relative;
    display: block;
  }
  .dropdown{
    left: 0%;
    top: 30px;
    width: 150px;
    transform: translateX(35%);
    padding: 0px;
    padding-left: 4px;
    margin: 0px;
  }
  .dropdown a:hover{
    padding: 5px 10px;
    border-radius: 40px;
    background-color: #521111;
  }
  .navbar{
    padding: 10px;
  }
  /* .dropdown li:hover{
    background-color: rgb(133, 44, 9);
  } */
  /* .more:hover .menu{
    text-align: center;
  } */
}

/* media quarry for even thinner devices */
@media (max-width: 360px) {
  .menu{
    text-align: left;
    padding-left: 30px;
    padding-top: 25;
  }
}

/* the bootstrap cards under the navbar */
/* 
.cards{
  margin-top: 20px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  justify-content: space-around;
  
}
.card{
  min-width: 200px;
}
.card:hover{
  box-shadow: 5px 5px 30px;
} */

/* food items without bootstrap */

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 30px;
  justify-content: center;
  padding: 30px;
}
.item{
  border: 10px solid black;
  border-radius: 5px;
}
.item:hover{
  box-shadow: 5px 5px 20px 7px rgba(0,0,0,0.53);
}
.item img{
  height: 225px;
  width: 100%;
  object-fit: cover;
}
.item *{
  padding: 0px;
  margin: 0px;
}
.content{
  padding: 15px;
  margin: 0px;
}
.item a{
  display: inline-block;
  background-color: #521111;
  color: #fff;
  padding: .375rem .75rem;
  margin-top: 10px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
}
.item a:hover{
  background-color: #310a0a;
}
.item_name{
  padding: 0px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}