/* body {
  font-size: 28px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  border: 0;
}

@media (min-width: 768px) {
  li a {
    float: left;
  }
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #ff4646;
} */



.nav-div{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navbar{
  height: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(240, 118, 87);
  color: #fff;
}
.logo{
  font-size: 32px;
}

.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
  list-style-type: none;
}
.menu li:hover{
  background-color: #ff3232;
  border-radius: 50px;
  transition: 0.3s ease;
}
.menu li{
  padding: 5px 14px;
}
.nav-links a{
  text-decoration: none;
  color: #fff;
}

.dropdown{
  padding: len 0;
  display: none;
  position: absolute;
  text-decoration: none;
  list-style: none;
  border-radius: 8px;
  /* top: 25px; */
  right: 15px;
  background-color: rgb(167, 81, 59);
}
.dropdown li + li{
  margin-top: 10px;
}
.dropdown li{
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover{
  background-color: brown;
}
.more:hover .dropdown{
  display: block;
}
.more{
  padding: 0px;
  margin: 0px;
}