/* body {
  font-size: 28px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  border: 0;
}

@media (min-width: 768px) {
  li a {
    float: left;
  }
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #ff4646;
} */

#headerbg{
  /* acbkground-image: url("images/food_items/headerbgimage.jpg");
  background-repeat: repeat; */
  position: absolute;
  margin: auto;
  width: 100%;
  object-fit: cover;
  height: 100px;
  opacity: 0.5;
  z-index: -1;
}

/* .headerbg{
  background-image: url("images/food_items/headerbgimage.jpg");
  background-repeat: repeat;
  margin: auto;
  opacity: 0.5;
} */


/* header */

.header{
  opacity: 1;
  color: rgb(56, 6, 6);
}
.header h1{
  text-align: center;
}
.header p{
  text-align: center;
}

/* navbar */

.nav-div{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.navbar{
  /* height: 30px; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(46, 17, 10);
  color: #fff;
}
.logo{
  font-size: 32px;
}
.logo-icon{
  height: 30px;
  width: 40px;
  object-fit: cover;
}

.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
  list-style-type: none;
}
.menu li:hover{
  background-color: #521111;
  border-radius: 50px;
  transition: 0.3s ease;
}
.menu li{
  padding: 5px 14px;
}
.nav-links a{
  text-decoration: none;
  color: #fff;
}
.nav-links a:hover{
  text-decoration: none;
  color: #fff;
}

.dropdown{
  padding: len 0;
  display: none;
  position: absolute;
  text-decoration: none;
  list-style: none;
  border-radius: 8px;
  /* top: 55px; */
  right: 5px;
  padding-right: 10px;
  background-color: rgb(133, 44, 9);
}
.dropdown li + li{
  margin-top: 10px;
}
.dropdown li{
  /* list-style: none; */
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover{
  background-color: #521111;
  ;
}
.more:hover .dropdown{
  display: block;

}
.more{
  padding: 0px;
  margin: 0px;
}
input[type=checkbox]{
  display: none;
}
.hamburger{
  display: none;
  font-size: 24px;
  user-select: none;
}


/* media quary for navbar */

@media (max-width: 768px) {
  .menu{
    display: none;
    position: absolute;
    padding: 16px 0;
    text-align: center;
  }
  .menu li:hover{
    display: inline-block;
    background-color: rgb(8, 106, 218);
    transition: 0.3s ease;
  }
  .menu li+li{
    margin-top: 10px;
  }
  input[type=checkbox]:checked ~.menu{
    display: block;
  }
  .hamburger{
    display: block;
  }
  .dropdown{
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
}

/* the bootstrap cards under the navbar */
.cards{
  margin-top: 20px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(290px,290px));
  justify-content: space-around;
  
  
}