  .item{
    border: 10px solid rgb(66, 66, 66);
    border-radius: 5px;
    transition: 0.3s;
  }
  .item:hover{
    box-shadow: 5px 5px 20px 7px rgba(0,0,0,0.53);
    transform: scale(1.02);
  }
  .item img{
    height: 225px;
    width: 100%;
    object-fit: cover;
  }
  .item *{
    padding: 0px;
    margin: 0px;
  }
  .content{
    padding: 15px;
    margin: 0px;
    height: auto;
  }
  .item button{
    display: inline-block;
    background-color: rgb(66, 66, 66);
    color: #fff;
    padding: .375rem .75rem;
    margin-top: 10px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
  }
  .item button:hover{
    background-color: black;
  }
  .item_name{
    padding: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }