#close-btn{
    position: absolute;
    border-radius: 100px;
    top: -10%;
    left: -6vh;
    padding: 0px 13px 3px 13px;
    font-size: xxx-large;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}
.active{
    display: none;
}
.transparent{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 1;
}
.login-container{
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.login{
    position: fixed;
    top:20%;
    height: 50vh;
    width: 50vh;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 0px 36px 20px rgba(0,0,0,0.75);
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
}
.login div{
    margin: 5px;
}
.login input{
    margin: 10px 0px;
    border-radius: 5px;
    height: 1.3rem;
}
.login label{
    margin: 10px 0px;
}